body{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.242);
    font-size: 25px;
}
.header1{
    background-color: rgba(209, 101, 202, 0.609);
    width: 96%;
    height: 80px;
    margin: 2%;
}
nav{
    float: left;
    margin-left: 3%;
    background-color: rgb(202, 150, 86);
    width: 25%;
    height: 400px;
}
aside{
    float: right;
    margin-right:3%;
    background-color: rgb(202, 150, 86);
    width: 25%;
    height: 400px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
    background-color:  rgb(129, 103, 72);
    width: 40%;
    height: 400px;
}
header{
    background-color: rgb(230, 189, 54);
    width:95%;
    height: 50px;
    margin:  2%;
}
article{
    background-color: rgb(234, 200, 148);
    width: 95%;
    height: 150px;
    margin:  2%;
}
footer{
    background-color: bisque;
    width: 95%;
    height: 50px;
    margin: 02%;
}
.footer1{
    position: absolute;
    bottom: 3%;
    width: 96%;
    height: 80px;
    margin: 2%;
    background-color: rgb(231, 109, 146);
}